body {
	background-color: #fafafa;
}

nav {
	border-bottom: 1px solid #dbdbdb;
	background-color: #ffffff;
	height: 77px;
}

.brand {
	font-family: 'Satisfy', cursive;
	font-size: 26px;
	vertical-align: middle;
}

.nav_links {
	font-size: 20px;
	font-weight: 500;
	margin: 0 20px;
	font-family: 'Indie Flower', cursive;
}

.nav_wrapper{
	line-height: 78px;
}

.photo{
	/*position: relative;*/
	margin-top: 20px;
	display: block;
  	max-width:598px;
  	max-height:598px;
  	width: auto;
  	height: auto;
}

.post_box{
	background-color: white;
	border: 1px solid #edeeee;
	max-width: 600px;
	margin: 0 auto;
	margin-top: 70px;

}

.post_header{
	height: 64px;
	padding: 14px 20px;
	font-weight: 600;
}

.post_body {
	padding: 10px 24px 0px 24px;
}

#options{
	margin:10px 24px 0px 24px;
}

.post_comments {
	padding: 10px 25px;
}

.prof_pic_small{
	height: 30px;
	width: 30px;
	border-radius: 50%;
	color: black;
}

wrapper input[type="search"] {
    position: relative; 
}

input { font-family: 'FontAwesome'; } 

.wrapper:before {
    font-family: 'FontAwesome';
    color:black;												
    position: relative;
    left: -5px;
    content: "\f009";
}

.timestamp{
	color: #a5a7aa;
	font-weight: 500px;
}

.bold_black{
	color: #262626;
	font-weight: 600;
}

.prof_page{
	max-width: 900px;
	margin: 0 auto;
}

.prof_pic{
	border-radius: 50%;
	height: 150px;
	width: 150px;
}

.prof_header{
	height: 100%;
	padding: 60px 20px 0px;
	margin-bottom: 45px;
}

.username{
	color: #4b4f54;
	font-weight: 300;
	font-size: 34px;
	line-height: 40px;
}

.count{
	color: #34373b;
	font-weight: 600;
}

.prof_show {
	width: 100%;
	height: 100%;
	margin-top: 30px;
}

.prof_post_box{
	margin-bottom: 50px;
}

.user_edit_button {
	margin-top: 25px;
	border-color: #818488;
	color: #818488;
}

.post_like {
	.fa {
		font-size: 20px;
	}
}

.prof_pic_edit_user{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	align: center;
}

#heading{
	text-align: center;
	font-family: 'Indie Flower';
	font-weight: 600;
}

#post_button{
	width: 100px;
	margin: 0 auto;
}

.user_profile_photos{
	height: 300px;
	width: 300px;
	margin-bottom: 15px;
}

#follow_button{
	border-radius: 3px;
	background-color: blue;
	font-size: 16px;
	color: white;
	line-height: 29px;
	padding: 0 11px;
	border-style: solid;
    border-width: 1px;
    font-weight: 600;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
}

#following_button{
	border-radius: 3px;
	background-color: green;
	font-size: 16px;
	color: white;
	line-height: 29px;
	padding: 0 11px;
	border-style: solid;
    border-width: 1px;
    font-weight: 600;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;	
}

